.message {
	position: relative;
  border-radius: .4em;
  padding: 10px;
}

.sentMessage {
  align-self: flex-end;
  background: #f1f1f1;
}

.receivedMessage {
  align-self: flex-start;
  background: #00aabb;
}

.message:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom: 0;
	margin-bottom: -16px;
}

.sentMessage:after {
  border-right: 0;
  left: 100%;
  margin-left: -20px;
  transform: rotate(-20deg);
  border-top-color: #f1f1f1;
}

.receivedMessage:after {
  border-left: 0;
  left: 0;
  transform: rotate(20deg);
  border-top-color: #00aabb;
}

.receivedMessageContainer {
  display: flex;
  align-items: flex-end;
}

.receivedMessageInitials {
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 50%;
  margin: 5px;
}